html {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    font-family: roboto;
    font-size: 32px;
    margin: 25px 0px 100px;
}

.buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons > button {
    padding: 35px 70px;
    font-size: 18px;
}

.round-result, .winner-msg {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.scores {
    font-size: 24px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
}
